@use "../../styles/scss/config" as *;

#dashboard {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: $tertiary-color;
  width: 95%;
  justify-self: center;
  max-width: 120rem;
  margin: 1em auto;

  section {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 0.7em;
      max-width: 100%;
    }

    hr {
      background-color: $tertiary-color;
      margin: 0.5em 0 0.75em 0;
      border-radius: 25px;
      border: 0;
      height: 0.3rem;
      max-width: 100%;
    }
  }

  #bio {
    grid-area: bio;

    .bio-details {
      display: block;
    }
  }

  #dashboard-favorites {
    grid-area: favorites;

    #user-favorites {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 0.75em 0;
      gap: 1rem;

      /*? Game card */
      .game-card {
        border-radius: 10px;
        flex: 1 1 15%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 12rem;
      }

      .game-card:active {
        transform: scale(95%);
      }

      .game-info {
        visibility: hidden;
        display: none;
      }

      .game-cover {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 3 / 4;
        border-radius: 10px;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  #dashboard-games {
    grid-area: games;

    h2 {
      margin-top: 0.5em;
    }

    .user-games {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;
      margin: 0.75em 0;
      gap: 1rem;

      .game-card {
        flex: 0 0 31%;
      }
    }
  }
}

//* Tablets and up
@media (min-width: $tablet) {
  #dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 4rem auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "bio favorites"
      "games games";
    width: 92.5%;
    column-gap: 3rem;

    #user-name {
      margin: 0;
      align-self: flex-end;
      margin-bottom: 1rem;
    }

    section {
      #user-favorites,
      .user-games {
        margin: 1em 0.5em;
      }

      h2 {
        justify-content: flex-start;
      }
    }

    #dashboard-nav {
      display: flex;
      flex-direction: row;
      position: relative;
      grid-area: nav;
      gap: 5rem;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      border-radius: 10px;

      h2 {
        margin: 0;
      }

      .edit-profile {
        position: absolute;
        border: 0;
        outline: 0;
        background: none;
        color: inherit;
        right: 1rem;
      }

      #dashboard-nav-links {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 2rem;
          padding: 0.3rem 0;
          letter-spacing: 0.25px;
          cursor: pointer;

          &.selected-page {
            border-bottom: 0.25rem solid $tertiary-color;
            border-radius: 3px;
          }
        }
      }
    }

    #bio {
      grid-area: bio;
    }

    #dashboard-favorites {
      grid-area: favorites;

      #user-favorites {
        .game-card {
          flex: 1 1 17%;
        }
      }
    }

    #dashboard-games {
      grid-area: games;

      .user-games {
        row-gap: 1.5rem;

        .game-card {
          flex: 0 0 18%;
        }
      }
    }
  }
}

//* Laptops and up
@media (min-width: $desktop) {
  #dashboard {
    column-gap: 5rem;
    width: 100%;

    section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        justify-content: flex-start;
        margin-left: 0.5em;
      }

      hr {
        margin: 1em 0 1.5em 0;
      }
    }

    #bio {
      grid-area: bio;
      margin-left: 2.5%;
    }

    #dashboard-favorites {
      margin-right: 2.5%;

      #user-favorites {
        justify-content: center;
        gap: 2rem;
        margin: 1.5em 1em;

        .game-card {
          flex: 1 1 17%;
          flex-shrink: 0;
          display: grid;
          grid-template-rows: auto 1fr;
          border-radius: 10px;
        }

        .game-card:hover {
          opacity: 0.6;
          transform: scale(1.05);
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          cursor: pointer;
        }

        .game-card:active {
          transform: scale(1);
        }

        .game-cover {
          height: auto;
        }
      }
    }

    #dashboard-games {
      margin: 0 1.5%;

      .user-games {
        justify-content: center;
        column-gap: 1.5rem;
        row-gap: 2.5rem;
        margin: 1.5em 0;

        .game-card {
          flex: 0 0 18%;
          // flex-basis: 18%;
          // flex-grow: 0;
        }
      }
    }
  }
}
