.dashboard {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  width: 95%;
  justify-self: center;
  max-width: 75em;
  margin: 1em auto;
}

  #bio {
    display: flex;
    flex-direction: column;
    grid-area: bio;
  }

    #dashboard-favorites {
      grid-area: favorites;
    }

      #favorites-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0.75em 0;
        gap: 1rem;
      }

    #dashboard-games {
      grid-area: games;
    }

      #dashboard-games-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0.75em 0;
        gap: 1rem;
      }

    .dashboard-title {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 0.7em;
      font-size: 2em;
      max-width: 100%;
    }

    .dashboard hr, #bio hr {
      background-color: var(--tertiary-color);
      margin: 0.5em 0 0.75em 0;
      border-radius: 25px;
      border: 0;
      height: 0.5rem;
      max-width: 100%;
    }

/*? Game card */
.game-card {  
  border-radius: 10px;
  flex: 1 1 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 12rem;
}

.game-card:active {
  transform: scale(95%);
}

.game-info {
  visibility: hidden;
  display: none;
}

.game-cover {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

/** Tablets and up */
/*? MINIMUM WIDTH: 30em == 480px */
@media (min-width: 30em) {
  .dashboard {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "bio favorites"
      "games games";
    width: 90%;
    column-gap: 3rem;
  }

  #bio {
    grid-area: bio;
  }

  #dashboard-favorites {
    grid-area: favorites;
  }

    #favorites-container {
      margin: 1em 0.5em;
    }

  #dashboard-games-container {
    margin: 1em 0.5em;
  }

    #dashboard-games {
      grid-area: games;
    }

  .game-card {
    flex: 1 1 17%;
  }
}

/** Laptops and up */
/*? MINIMUM WIDTH: 60em == 960px */
/*? ALT: 64em == 1024px */
@media (min-width: 60em) {
  .dashboard {
    column-gap: 5rem;
  }

    #bio {
      display: flex;
      flex-direction: column;
      grid-area: bio; 
    }

    .dashboard-title {
      justify-content: flex-start;
      margin-left: 0.5em;
    }

    .dashboard hr, #bio hr {
      margin: 1em 0 1.5em 0;
    }

    #favorites-container {
      grid-area: favorites;
      justify-content: center;
      gap: 2rem;
      margin: 1.5em 1em;
    }

    #dashboard-games-container {
      grid-area: games;
      justify-content: center;
      gap: 2rem;
      margin: 1.5em 1em;
    }

      .game-card {
        flex: 1 1 17%;
        display: grid;
        grid-template-rows: auto 1fr;
        border-radius: 10px;
      }

      .game-card:hover {
        opacity: 0.6;
        transform: scale(1.05);
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        cursor: pointer;
      }

      .game-card:active {
        transform: scale(1);
      }

      .game-cover {
        height: auto;
      }
}