.dashboard {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  color: white;
  width: 95%;
  justify-self: center;
  max-width: 75em;
  margin: 1em auto;
}

  #dashboard-greetings {
    font-size: 2em;
  }
  
  .dashboard hr, #bio hr {
    background-color: var(--tertiary-color);
    margin: 0.5em 0 0.75em 0;
    border-radius: 25px;
    border: 0;
    height: 0.5rem;
    max-width: 100%;
  }

  .dashboard-title {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0.7em;
    font-size: 2em;
    max-width: 100%;
  }

  #favorites-container > #games-container > .game-card {
    flex: 1 1 10%;
  }

/** Tablets and up */
/*? MINIMUM WIDTH: 30em == 480px */
@media (min-width: 30em) {
  .dashboard {
    width: 90%;
  }
}

/** Laptops and up */
/*? MINIMUM WIDTH: 60em == 960px */
/*? ALT: 64em == 1024px */
@media (min-width: 60em) {
  .dashboard {
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "bio favorites favorites"
      "games games games";
  }

    #bio {
      display: flex;
      flex-direction: column;
      grid-area: bio;
    }

  .dashboard-title {
      justify-content: flex-start;
      margin-left: 0.5em;
    }

  .dashboard hr, #bio hr {
    margin: 1em 0 1.5em 0;
  }

  #favorites-container {
    grid-area: favorites;
  }

    #favorites-container > #games-container > .game-card > .game-info {
      visibility: hidden;
      display: none;
    }

  #dashboard-games-container {
    grid-area: games;
  }
}