/*? HomePage container  */
#games-page {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  width: 95%;
  justify-self: center;
  max-width: 75em;
  margin-bottom: 1em;
}

  #games-page hr {
    background-color: var(--tertiary-color);
    margin: 0.5em 0 0.75em 0;
    border-radius: 25px;
    border: 0;
    height: 0.5rem;
    max-width: 100%;
  }

  #games-page h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0.7em;
    font-size: 2em;
    max-width: 100%;
  }

  /*? Container holding all game cards */
  #games-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0.75em 0;
    gap: 1rem;
  }

/** Tablets and up */
/*? MINIMUM WIDTH: 30em == 480px */
@media (min-width: 30em) {
  #games-page {
    width: 90%;
  }

  #games-container {
    margin: 1em 0.5em;
  }
}


/** Laptops and up */
/*? MINIMUM WIDTH: 60em == 960px */
/*? ALT: 64em == 1024px */
@media (min-width: 60em) {
  #games-page h2 {
    justify-content: flex-start;
    margin-left: 0.5em;
  }

  #games-page hr {
    margin: 1em 0 1.5em 0;
  }

  #games-container {
    justify-content: center;
    gap: 2rem;
    margin: 1.5em 1em;
  }
}