#header-container {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 0.5px solid black;
  z-index: 99999;
  /* overflow: hidden; */
}

  header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 90%;
    color: var(--tertiary-color);
    max-width: 1440px;
  }
    
    #header-title {
      margin: 0.5em 0;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--tertiary-color);
      letter-spacing: 2px;
    }

    #header-title:hover {
      opacity: 0.7;
    }

    /* For popout menu on mobile */
    .nav-links {
      position: fixed;
      top: 0;
      right: -16em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;
      height: 100%;
      width: 40%;
      margin-top: 5.2rem;
      padding-top: 1em;
      background-color: var(--secondary-color);
      color: var(--tertiary-color);
      transition: 0.5s;
      z-index: 99998;
      font-size: 2rem;
    }

      .nav-links.isActive {
        right: 0;
      }

      .nav-link {
        position: relative;
        text-decoration: none;
        color: inherit;
        padding: 0.35em 0.7em;
        margin-left: 1rem;
      }

      .nav-link.isActive {
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        border-radius: 10px;
      }
  
        .nav-link:hover {
          background-color: var(--tertiary-color);
          color: var(--secondary-color);
          border-radius: 10px;
        }

    .logout-button {
      font-weight: bold;
      color: inherit;
      background: none;
      border: none;
      padding: 0.35em 0.7em;
    }

    
      .logout-button:hover {
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        border-radius: 10px;
        cursor: pointer;
      }

    .nav-link:after, .logout-button:after {
      content: "";
      background-color: var(--tertiary-color);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3.5px;
      border-radius: 10px;
      height: 100%;
    }

    .menu-mask {
      position: fixed;
      top: 0;
      left: -5vw;
      width: 100%;
      opacity: 0.5;
      min-height: 100vh;
      margin-top: 3.25em;
      background-color: black;
      z-index: 50;
    }

/** Tablets and up */
/*? MINIMUM WIDTH: 30em == 480px */
@media (min-width: 30em) {
  header {
    font-size: min(1.3em, 3.331vw);
    justify-content: flex-start;
    align-items: center;
    width: 92%;
  }

    /** Hide menu button */
    .menu-button {
      visibility: hidden;
      display: none;
    }

    .nav-links {
      position: static;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      gap: 1em;
      width: 100%;
      font-size: 0.8em;
      padding: 0;
      margin: 0;
      transition: none;
      visibility: visible;
    }

      .nav-link, .logout-button {
        margin: 0;
      }
    
    .menu-mask {
      visibility: hidden;
      display: none;
    }
}

/** Laptops and up */
/*? MINIMUM WIDTH: 60em == 960px */
/* @media (min-width: 60em) {

} */