/*? Page selector container */
.pagination {
  display: flex;
  justify-content: center;
  font-size: min(1.5em, (1.5vw + 0.6em));
  font-weight: bold;
}

  /*? List of page numbers */
  .page-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 0.5em; 
    padding: 0;
    margin: 0;
  }

    /*? Individual selectors + next/prev arrows */
    .page-selector, .page-arrow {
      display: flex;
      cursor: default;
      padding: 0.25em 0.5em;
      border-radius: 8px;
      background-color: var(--secondary-color);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .page-arrow {
      font-size: 1.1em;
      padding: 0.25em;
    }
    
      .page-selector:hover, .page-arrow:hover {
        opacity: 0.6;
        transform: scale(1.05);
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        cursor: pointer;
      }

    /*? Active page selector */
    .active-page {
      background-color: var(--tertiary-color);
      color: var(--secondary-comp);
    }

      .active-page:hover {
        opacity: 1;
        cursor: default;
        transform: none;
        transition: none;
        -webkit-transition: none;
      }


/** Tablets and up */
/*? MINIMUM WIDTH: 30em == 480px */
@media (min-width: 30em) {
  .page-selector, .page-arrow {
    border-radius: 10px;
  }

  .page-arrow {
    padding: 0.25em 0.5em;
  }
}


/** Laptops and up */
/*? MINIMUM WIDTH: 60em == 960px */
/*? ALT: 64em == 1024px */
@media (min-width: 60em) {
  .pagination {
    justify-content: flex-start;
    margin-left: 1em;
  }
}