@use "../../styles/scss/config" as *;

#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  width: 95%;
  justify-self: center;
  max-width: $max-width;
  margin-bottom: 1em;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/public/lp_background.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    max-height: 100vh;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(125, 185, 232, 0) 0, $main);
    z-index: -1;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity value to control the dimness */
  //   pointer-events: none;
  // }

  #lp-banner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    h2 {
      font-size: 4em;
    }

    div {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 4rem;

      span {
        flex-grow: 1;
        padding: 1.5rem 1.5rem;
        border-radius: 7.5px;
        border: 0.5px solid $font-color;
        text-align: center;
        font-size: 1.5em;
        background-color: $button;
        cursor: pointer;

        &:nth-child(2) {
          background-color: #00249b;
        }

        &:nth-child(1) {
          background-color: #107c10;
        }

        &:nth-child(3) {
          background-color: #e60012;
        }

        &:last-child {
          background-color: #0883c5;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  #lp-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: 100%;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #landing-page {
    align-items: flex-start;

    #lp-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 0.5px solid $main-3;
      gap: 3rem;

      #lp-header-left {
        display: flex;
        gap: 2rem;
        flex-basis: 70%;

        .profile-picture {
          width: 100px;
          height: 100px;
          border-radius: 7.5px;
          border: 0.5px solid $font-color;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .lp-user {
            text-decoration: none;
            color: $font-color;
            font-size: 1.75em;
            font-weight: bold;
            letter-spacing: 0.5px;
          }

          > div {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            > span {
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              color: $main-3;

              &:hover {
                color: $button;
              }

              > span {
                font-size: 2em;
                font-weight: 333;
              }
            }
          }
        }
      }

      #lp-header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
        gap: 0.75rem;

        h1 {
          margin: 0;
          font-size: 4em;
        }

        span {
          color: $font-color;

          a {
            text-decoration: none;
            color: $secondary-2;

            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }

    #lp-body {
      display: grid;
      grid-template-columns: 8fr 3fr;
      grid-template-rows: 1fr;
      gap: 3rem;
      margin-top: 2.25rem;
      border-bottom: 0.5px solid $secondary;

      .lp-body-left {
        section {
          .games-container {
            grid-template-columns: repeat(5, 1fr);
            margin-top: 1.5rem;
          }
        }
      }

      #coming-soon {
        .coming-soon-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin: 1.5rem 0;

          .coming-soon-grid {
            display: flex;
            gap: 1.5rem;
            margin-left: 0.5rem;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;

            .game-card {
              flex: none;
              width: 100%;
              max-width: 40px;
              border-radius: 5px;

              .game-cover {
                border-radius: 5px;
              }
            }

            .coming-soon-info {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              width: 100%;
              font-size: 1em;
              font-weight: bold;
              color: $font-color;

              & * {
                display: block;
              }

              .game-release {
                position: relative;
                font-weight: normal;
                font-size: 1.75rem;
                font-size: 1.5rem;
                color: $secondary;
              }
            }
          }

          .game-card {
            width: 100px;
            max-width: 100px;

            &:hover {
              opacity: 1;
              transform: none;
              transition: none;
              -webkit-transition: none;
            }
          }

          .game-info {
            visibility: hidden;
            display: none;
          }
        }
      }
    }

    .lp-body-left > section,
    #coming-soon,
    #lp-reviews {
      > h2 {
        font-weight: 444;
        margin: 0;

        > * {
          color: $main-3;
          text-decoration: none;
        }
      }
    }

    #lp-reviews {
      display: flex;
      flex-direction: column;
      margin-top: 2.25rem;
    }
  }
}

.bg-credits {
  position: absolute;
  top: 0;
  left: 0;
}
