@use "../../styles/scss/config" as *;

#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  width: 95%;
  justify-self: center;
  max-width: $max-width;
  margin-bottom: 1em;

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   margin: 0;
  //   margin-top: 2.25rem;
  //   max-width: 100%;
  //   text-align: center;
  //   letter-spacing: 0.25px;
  // }

  #lp-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: 100%;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #landing-page {
    align-items: flex-start;

    #lp-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 0.5px solid $comp-2;
      gap: 3rem;

      #lp-header-left {
        display: flex;
        gap: 2rem;
        flex-basis: 70%;

        .profile-picture {
          background-color: white;
          width: 100px;
          height: 100px;
          border-radius: 7.5px;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .lp-user {
            text-decoration: none;
            color: $font-color;
            font-size: 1.75em;
            font-weight: bold;
            letter-spacing: 0.5px;
          }

          > div {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            > span {
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              color: $detail-2;

              &:hover {
                color: $detail;
              }

              > span {
                font-size: 2em;
                font-weight: 333;
              }
            }
          }
        }
      }

      #lp-header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
        gap: 0.75rem;

        h1 {
          margin: 0;
          font-size: 4em;
        }

        span {
          color: $font-color;

          a {
            text-decoration: none;
            color: $detail-2;

            &:hover {
              color: $detail;
            }
          }
        }
      }
    }

    #lp-body {
      display: grid;
      grid-template-columns: 7fr 3fr;
      grid-template-rows: 1fr;
      gap: 3rem;
      margin-top: 2.25rem;

      #coming-soon {
        .coming-soon-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin: 1.5rem 0;

          .coming-soon-grid {
            display: flex;
            gap: 1.5rem;
            margin-left: 0.5rem;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;

            .game-card {
              flex: none;
              width: 100%;
              max-width: 40px;
              border-radius: 5px;

              .game-cover {
                border-radius: 5px;
              }
            }

            .coming-soon-info {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              width: 100%;
              font-size: 1em;
              font-weight: bold;
              color: $font-color;

              & * {
                display: block;
              }

              .game-release {
                position: relative;
                font-weight: normal;
                font-size: 1.75rem;
                font-size: 1.5rem;
                color: $detail;
              }
            }
          }

          .game-card {
            width: 100px;
            max-width: 100px;

            &:hover {
              opacity: 1;
              transform: none;
              transition: none;
              -webkit-transition: none;
            }
          }

          .game-info {
            visibility: hidden;
            display: none;
          }
        }
      }

      #popular-this-month {
        .games-container {
          grid-template-columns: repeat(5, 1fr);
          margin-top: 1.5rem;
        }
      }
    }

    #popular-this-month, #coming-soon, #lp-reviews {
      > h2 {
        font-weight: 444;
        margin: 0;

        > * {
          color: $detail-2;
          text-decoration: none;
        }
      }
    }

    #lp-reviews {
      display: flex;
      flex-direction: column;
    }
  }
}
