@use "../../styles/scss/config" as *;

#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  width: 95%;
  justify-self: center;
  max-width: 75em;
  margin-bottom: 1em;

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   margin: 0;
  //   margin-top: 2.25rem;
  //   max-width: 100%;
  //   text-align: center;
  //   letter-spacing: 0.25px;
  // }

  #lp-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: 100%;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #landing-page {
    align-items: flex-start;

    #landing-auth {
      display: flex;
      width: 100%;
      align-self: center;
      justify-content: space-between;
      // gap: 5rem;
      border: 3px solid $comp;
      border-radius: 10px;
      
      .auth-page {
        width: 25%;

        .form-container {
          font-size: 75%;

          .auth-title {
            text-align: center;
          }
        }
      }
    }

    #lp-container {
      display: grid;
      grid-template-columns: 8fr 2fr;
      grid-template-rows: 1fr;
      gap: 5rem;

      #coming-soon {
        .games-container {
          flex-direction: column;
          gap: 0rem;
          margin: 0;

          .coming-soon-grid {
            display: flex;
            gap: 1.5rem;
            height: max-content;
            padding: 0.5rem 0.5rem 0.5rem 0;
            margin-left: 0.5rem;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
              border: 1px solid $comp-2;
              border-radius: 10px;
            }

            .game-card {
              flex: none;
              width: 100%;
              max-width: 40px;
              
              .game-cover {
                border-radius: 5px;
              }
            }

            .coming-soon-info {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              width: 100%;
              font-size: 1.3rem;
              font-weight: bold;
              color: $font-color;

              & * {
                display: block;
              }

              .game-release {
                position: relative;
                font-weight: normal;
                font-size: 1.75rem;
                font-size: 1.5rem;
                color: $detail-2;
              }
            }
          }

          .game-card {
            width: 100px;
            max-width: 100px;

            &:hover {
              opacity: 1;
              transform: none;
              transition: none;
              -webkit-transition: none;
            }
          }

          .game-cover {
            border-radius: 10px;
          }

          .game-info {
            visibility: hidden;
            display: none;
          }
        }
      }

      #popular-this-month {
        .games-container {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
