// custom variables

// import functions and variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$custom-grid-breakpoints: (
);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

/* $custom-theme-colors: (
    "alt-light": #000000,
    "alt-dark": #ffffff
  );

  $theme-colors: map-merge($custom-theme-colors, $theme-colors); 
*/

/*

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

*/