#signup-page {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  background-color: var(--primary-color);
  height: 100%;
}

#signup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: min(25em, 100%);
  padding: 1.5em;
  color: var(--secondary-comp);
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#signup-title {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#signup-container hr {
  margin: 0;
  margin-bottom: 2em;
  width: 11em;
  border: 2px solid var(--secondary-comp);
  border-radius: 25px;
}

#signup-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 1em;
}

.double-input {
  display: flex;
  gap: 3em;
}

.form-label {
  display: inline-block;
  position: relative;
  padding-bottom: 0.4em;
  margin-left: 0.5em;
}

.signup-input {
  box-sizing: border-box;
  margin-top: 0.4em;
  padding: 0.5em 0.7em 0.5em 0.7em;
  width: 100%;
  border: none;
  border-bottom: 3.5px solid var(--secondary-comp);
  color: #222;
  background: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.signup-input:focus {
  caret-color: transparent;
  border-color: rgba(103, 144, 255, 0.5);
  outline: none;
}

.form-button {
  padding: 0.5em 1em;
  background: none;
  color: var(--tertiary-color);
  letter-spacing: 1px;
  border-radius: 15px;
  border: 2px var(--primary-color) solid;
}

.form-button:hover {
  background-color: #3b60c5;
}

@media (max-width: 30em) {
  #signup-container {
    box-shadow: none;
  }
  
  .double-input {
    flex-direction: column;
  }
}