@use 'config' as *;

#auth-page {
  display: flex;
  justify-content: center;
  color: $tertiary-color;
  width: 100%;

  #form-container {
    box-sizing: border-box;
    margin-top: 2em;
    padding: 1em;
    width: 95%;
    max-width: 30em;
    border-radius: 10px;

    #auth-title {
      margin: 0;
      text-align: center;
    }
  }
}

.auth-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-group {
    margin-top: 1.5em;
    width: 100%;

    .auth-input {
      box-sizing: border-box;
      width: 100%;
      padding: 0.5em;
      color: $tertiary-color;
      background-color: transparent !important;
      border: 2px solid $tertiary-color;
      border-radius: 10px;
      outline: none;
      transition: all .3s;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: $tertiary-color;
        -webkit-box-shadow: 0 0 0px 1000px $primary-color inset;
        box-shadow: 0 0 0px 1000px $primary-color inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      &::placeholder {
        color: transparent
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .auth-label {
      display: block;
      width: fit-content;
      position: absolute;
      padding: 0 0.4em;
      background-color: $primary-color;
      transform: translate(0.3em, -1.75em);
      transition: all .3s;
    }

    .auth-input:focus+.auth-label,
    .auth-input:not(:placeholder-shown)+.auth-label {
      transform: translateY(-3em) scale(0.8);
    }

    .input-instructions {
      background-color: $secondary-comp;
      border-radius: 10px;
      font-size: 0.8em;
      margin: 0.8rem 1rem 0 1rem;
      padding: 0.5em 1em 0.5em 1.5em;
      width: fit-content;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  #auth-submit {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 0.35em 0.7em;
    border-radius: 10px;
    border: none;
    color: $tertiary-color;
    background-color: $secondary-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
      background-color: $tertiary-color;
      color: $secondary-color;
      transform: scale(1.05);
      transition: .3s ease;
      border-radius: 10px;
      cursor: pointer;
    }

    &:disabled,
    &:disabled:hover {
      opacity: 0.4;
      transform: none;
      transition: none;
      cursor: default;
      background-color: $secondary-color;
      color: $tertiary-color;
    }

    &:active {
      transform: scale(95%);
    }
  }

  span a {
    text-decoration: none;
    color: $tertiary-color;

    &:hover {
      color: $secondary-color;
    }
  }

  #error-message {
    margin-top: 1em;
    font-size: 0.8em;
    padding: 0.7em 1.4em;
    border-radius: 10px;
    font-weight: bold;
    background-color: crimson;
    color: white;
    text-align: center;
  }
}

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  #form-container {
    margin-top: 3em;

    #auth-title {
      font-size: 2.5em;
    }
  }

  .auth-form {
    font-size: 1.2em;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #form-container {
    margin-top: 2em;
  }
}