$primary-color: rgb(21, 36, 84);
$secondary-color: rgb(48, 75, 164);
$tertiary-color: rgb(207, 207, 207);
$secondary-comp: rgb(37, 59, 131);

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
$tablet: 30em;

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
//? ALT: 64em == 1024px
$desktop: 60em;