@use 'config' as *;
@use 'games';

/*? HomePage container  */
#games-page {
  background-color: $primary-color;
  color: $tertiary-color;
  width: 95%;
  justify-self: center;
  max-width: 75em;
  margin-bottom: 1em;

  hr {
    background-color: $tertiary-color;
    margin: 0.5em 0 0.75em 0;
    border-radius: 25px;
    border: 0;
    height: 0.5rem;
    max-width: 100%;
  }

  h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0.7em;
    font-size: 2em;
    max-width: 100%;
  }
}

//? Container holding all game cards
#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0.75em 0;
  gap: 1rem;
}

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  #games-page {
    width: 90%;
  }

  #games-container {
    margin: 1em 0.5em;
    row-gap: 1.5rem;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #games-page {
    h2 {
      justify-content: flex-start;
      margin-left: 0.5em;
    }
  
    hr {
      margin: 1em 0 1.5em 0;
    }
  }

  #games-container {
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    margin: 1.5em 0;
  }
}