@use 'config' as *;

.game-card {
  border-radius: 10px;
  flex: 1 1 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 14.502rem;

  &:active {
    transform: scale(95%);
  }

  .game-info {
    visibility: hidden;
    display: none;
  }

  .game-cover {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
}

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  .game-card {
    flex: 1 1 18%;
    max-width: 21.76rem;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  .game-card {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 10px;
    max-width: 21.76rem;

    &:hover {
      opacity: 0.6;
      transform: scale(1.05);
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
    }

    .game-cover {
      height: auto;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      visibility: visible;
      font-weight: bold;
      padding: 1rem 1.5rem;
      background-color: $secondary-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .game-title {
        max-width: 70%;
        margin: 0;
      }

      .game-rating {
        background-color: $primary-color;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        color: black;
      }
    }
  }
}