@use 'config' as *;

#header-container {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $secondary-color;
  border-bottom: 0.5px solid black;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  /* overflow: hidden; */
}

header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 90%;
  color: $tertiary-color;
  max-width: 1440px;
  -webkit-tap-highlight-color: transparent;

  #header-title {
    margin: 0.5em 0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    color: $tertiary-color;
    letter-spacing: 2px;

    &:active {
      opacity: 0.7;
    }
  }
}

.menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  min-height: 100vh;
  margin-top: 3.25em;
  background-color: black;
  z-index: 50;
}

/* For popout menu on mobile */
#nav-links {
  position: fixed;
  top: 0;
  right: -16em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  height: 100%;
  width: 40%;
  margin-top: 5.2rem;
  padding-top: 1.5rem;
  background-color: $secondary-comp;
  color: $tertiary-color;
  transition: 0.5s;
  z-index: 99998;
  font-size: 2.5rem;

  .nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    margin-left: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;

    &:active {
      opacity: 0.7;
      transform: scale(95%);
    }

    &:after {
      content: "";
      background-color: $tertiary-color;
      position: absolute;
      left: 0;
      width: 3.5px;
      border-radius: 10px;
      height: 100%;
    }
  }
}

#nav-links.is-active {
  right: 0;
}

.menu-button {
  &:active {
    font-size: 0.95em;
  }
}


//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  header {
    font-size: min(1.3em, 3.331vw);
    justify-content: flex-start;
    align-items: center;
    width: 92%;
  }

  /** Hide menu button */
  .menu-button {
    visibility: hidden;
    display: none;
  }

  #nav-links {
    position: static;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    transition: none;
    visibility: visible;
    background-color: $secondary-color;
    
    .nav-link {
      letter-spacing: 0.25px;
      margin: 0;
      padding: 0.35em 0.7em;
      height: auto;

      &:after {
        content: none;
      }

      &:active {
        opacity: 1;
      }

      &:hover {
        background-color: $tertiary-color;
        color: $secondary-color;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .menu-mask {
    visibility: hidden;
    display: none;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  #header-title {
    &:active {
      opacity: 1;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}