@use "../../pages/auth/authPage";
@use "../../pages/UserDashboard/dashboard";
@use "../../pages/ExpandedGame/gameExpanded";
@use "../../pages/GamesPage/gamesPage";
@use "../../components/Header/header";
@use "../../components/GamesList/pagination";
@use "../../components/GamesList/sortList";
@use "../../components/loadingBar/loadingBar";
@use "../../components/Footer/footer";
@use "../../pages/LandingPage/landingPage";
@use "../../pages/ExpandedGame/components/starRating";
@use "../../pages/ExpandedGame/components/modal";
@use "config" as *;

// @import "./fontawesome/scss/fontawesome.scss";
@import "../scss-fa/fontawesome.scss";
@import "../scss-fa/solid.scss";
// @import "./fontawesome/scss/solid.scss";

/* override browser default */
html {
  font-size: 62.5%;
  font-family: helvetica;
  overflow-x: hidden;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: $main;
  padding: env(safe-area-inset);
  overflow-x: hidden;
  scroll-behavior: auto;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: $main;
}

/* holds header and $main */
#App {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.error-message {
  margin-top: 1em;
  font-size: 0.8em;
  padding: 0.35em 0.7em;
  border-radius: 10px;
  font-weight: bold;
  background-color: crimson;
  color: white;
  text-align: center;
}

//? Container holding all game cards
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0.75em 0;
}

.section-title {
  color: $font-color;
  margin: 0;
  margin-top: 2.25rem;
  max-width: 100%;
  text-align: center;
  letter-spacing: 0.25px;
}

.fl-button {
  letter-spacing: 0.25px;
  background-color: $comp-2;
  color: $font-color;
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0.35em 0.7em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

hr {
  display: flex;
  background-color: $detail;
  margin: 0.5em 0 0.75em 0;
  border-radius: 25px;
  border: 0;
  height: 0.2rem;
  max-width: 100%;
  width: 100%;
}

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  .games-container {
    margin: 2rem 25px;
    row-gap: 1.5rem;
    column-gap: 1rem;
  }

  .section-title {
    margin-left: 0rem;
    text-align: left;
  }

  .fl-button {
    cursor: pointer;

    &:active {
      background-color: $main;
      transform: scale(95%);
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
    }
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  .games-container {
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    margin: 1.5rem 35px;
  }

  hr {
    margin: 0.5rem 0 1rem 0;
  }

  .fl-button {
    &:hover {
      opacity: 0.6;
      transform: scale(1.05);
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      cursor: pointer;
    }
  }
}
