@use "../../styles/scss/config" as *;

.game-card {
  position: relative;
  border-radius: 7.5px;
  // flex: 0 0 31%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 14.502rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 7.5px;
  }

  &:active {
    transform: scale(95%);
  }

  .game-info {
    visibility: hidden;
    display: none;
  }

  .game-cover {
    max-width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 7.5px;
    object-fit: cover;
    height: 100%;
  }
}

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  .game-card {
    flex: 1 1 18%;
    max-width: 175px;
    // max-width: 21.76rem;
  }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  .game-card {
    // flex: 1 1 120px;
    flex: 1 1 15%;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border: 0.5px solid $main-3;
    box-sizing: border-box;
    max-width: none;

    &:hover {
      opacity: 0.4;
      // transform: scale(1.05);
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
    }

    .game-cover {
      filter: brightness(80%);
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0;
    }

    .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      visibility: visible;
      font-weight: bold;
      padding: 1rem 0.75rem;
      font-size: 1.3rem;
      background-color: $main-2;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      max-height: 36.8px;

      .game-title {
        color: $secondary-2;
        max-width: 75%;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .game-rating {
        background-color: $main;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
