@use "../../styles/scss/config" as *;

$footer-padding: 1.5rem 0 0 1.5rem;

footer {
  position: relative;
  display: flex;
  gap: 1.25rem;
  margin-top: 1.5rem;
  padding: $footer-padding;
  height: 4rem;
  background-color: $main-2;
  color: $font-color;
  z-index: 1;

  #github-link, #linkedin-link, #about-frontloggd {
    display: inline-block;
    align-self: center;
    color: inherit;

    &:hover {
      color: $secondary;
    }
  }

  #about-frontloggd {
    text-decoration: none;
  }

  #igdb-shoutout {
    color: inherit;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-weight: bold;
    letter-spacing: 0.75px;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }

  #backloggd-clone {
    display: block;
    width: 100%;
    text-align: center;
    color: inherit;
    position: absolute;
    bottom: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  a {
    justify-content: center;
    text-decoration: none;
    color: $main-3;

    &:hover {
      color: $secondary;
    }
  }
}