@use "../../styles/scss/config" as *;

#header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1000;
  position: relative;
}

header {
  display: flex;
  max-width: 1300px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin: 0 30px;
  color: $font-color;
  z-index: 1001;
  -webkit-tap-highlight-color: transparent;
  flex-wrap: wrap;

  #header-title {
    margin: 0.5em 0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    color: $font-color;
    letter-spacing: 2px;

    &:active {
      opacity: 0.7;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 444;

    .nav-button {
      text-decoration: none;
      color: $font-color;
      font-size: 0.9em;
    }
  }
}

#search {
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  color: $font-color;
  background-color: $comp;
  border: none;
  max-width: 85%;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  position: relative;

  &::-webkit-input-placeholder {
    color: #888;
  }

  &::-moz-placeholder {
    color: #888;
  }

  &::-ms-placeholder {
    color: #888;
  }

  &::placeholder {
    color: #888;
  }
}

.nav-dropdown {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 1rem;
  z-index: 1000;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: height 0.3s, transform 0.3s;
  margin-bottom: 1rem;

  .dropdown-button {
    text-decoration: none;
    color: $font-color;
    font-size: 1.1em;
    margin-left: 2.5%;
  }

  #search {
    max-width: 100%;
  }
}

.show-dropdown {
  height: 10rem;
  pointer-events: all;
}

.user-dropdown {
  &.show-dropdown {
    height: 32rem;
  }

  #search {
    flex-basis: 100%;
  }

  #user-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;

    .dropdown-button {
      padding: 0.75rem 0;
      background-color: $comp-2;
      margin: 0;
      flex-grow: 1;
      font-size: 1em;
      border-radius: 5px;
      font-weight: 444;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &.grid-1 {
        flex-basis: calc(33% - 1rem);
      }

      &.grid-2 {
        flex-basis: calc(25% - 1rem);
        flex-direction: column;
        gap: 0.25rem;
      }

      &.grid-3 {
        flex-basis: calc(50% - 1rem);
      }

      &.grid-4 {
        flex-basis: calc(33% - 1rem);
      }

      &.grid-5 {
        flex-basis: calc(50% - 1rem);
      }
    }
  }
}

// /* For popout menu on mobile */
// #nav-links {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 1em;
//   height: 100%;
//   background-color: $comp-2;
//   width: 100%;
//   font-size: 2rem;

//   .nav-link {
//     position: relative;
//     text-decoration: none;
//     color: inherit;
//     margin-left: 1rem;
//     font-weight: bold;
//     height: 4rem;
//     display: flex;
//     align-items: center;

//     &:active {
//       opacity: 0.7;
//       transform: scale(95%);
//     }
//   }
// }

//* Tablets and up
//? MINIMUM WIDTH: 30em == 480px
@media (min-width: $tablet) {
  header {
    font-size: min(1.3em, 3.331vw);
    align-items: center;

    #search {
      width: 6rem;
      margin: 0;
    }
  }

  // #nav-links {
  //   position: static;
  //   justify-content: flex-end;
  //   align-items: center;
  //   flex-direction: row;
  //   gap: 1em;
  //   width: 100%;
  //   font-size: 0.8em;
  //   padding: 0;
  //   margin: 0;
  //   transition: none;
  //   visibility: visible;
  //   background-color: transparent;

  //   .nav-link {
  //     letter-spacing: 0.25px;
  //     height: auto;
  //     padding: 0;
  //     margin: 0;
  //     font-weight: normal;

  //     &:after {
  //       content: none;
  //     }

  //     &:active {
  //       opacity: 1;
  //     }

  //     &:hover {
  //       background-color: $comp-2;
  //       border-radius: 10px;
  //       cursor: pointer;
  //     }
  //   }
  // }
}

//* Laptops and up
//? MINIMUM WIDTH: 60em == 960px
@media (min-width: $desktop) {
  header {
    flex-wrap: nowrap;

    #search {
      width: 15rem;
    }

    /** Hide menu button */
    .menu-button {
      visibility: hidden;
      display: none;
    }

    #header-title {
      &:active {
        opacity: 1;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
