/* override browser default */
html {
  font-size: 62.5%;
  font-family: helvetica, montserrat;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
  --primary-color: rgb(21, 36, 84);
  --secondary-color: rgb(48, 75, 164);
  --tertiary-color: rgb(207, 207, 207);
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
}

/* holds header and main */
.App {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  max-width: 100%;
}

#notes {
  width: clamp(200px, 50%, 50%);  /* MIN: 200px, PREFFERRED: 50%, MAX: 600px */
  aspect-ratio: 16/9;
}