@use "../../components/GamesList/games";
@use "../../components/Header/header";
@use "../../styles/scss/config" as *;

#ge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  max-width: 100%;

  .error-message {
    color: $main;
    background-color: $detail-2;
  }

  #game-expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 90%;
    margin-top: 5rem;

    .game-card {
      position: relative;
      max-width: 20rem;
      max-height: 26.666rem;

      &:active {
        transform: none;
      }

      .game-cover {
        border-radius: 10px;
      }
    }

    .game-details {
      width: ƒfit-content;

      h1 {
        display: inline-block;
        font-size: 3rem;
        margin: 0;
        margin-top: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .game-rating {
        background-color: $comp;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        font-size: 2.5rem;
        font-weight: bold;
      }

      .game-date {
        font-size: 0.8em;
        font-style: italic;
        margin: 0.5rem 0;
        max-width: 100%;
      }

      .game-summary {
        text-align: center;
        line-height: 2rem;
        margin: 1.5rem 0;
      }
    }

    .expanded-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .game-platforms,
      .game-genres {
        margin: 0.5rem 0;
        font-size: 2rem;
      }

      #platforms,
      #genres {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.75rem;

        span {
          margin: 0.5rem 0;
          font-size: 0.65em;
          background-color: $comp;
          padding: 0.5rem 0.7rem;
          border-radius: 10px;
          width: fit-content;
        }
      }
    }
  }
}

//* Tablets and up
@media (min-width: $tablet) {
  .game-background {
    height: 75%;
  }

  .gradient {
    height: 76%;
  }

  #ge-container {
    justify-content: center;
    align-items: center;

    #game-expanded {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      // grid-template-areas:
      // "cover information information"
      // "extra extra extra";
      align-items: initial;
      margin-bottom: 5rem;
      gap: 2rem;

      #game {
        #card-interaction {
          // #add-game,
          // #add-to-list {
          //   cursor: pointer;

          //   &:active {
          //     background-color: $main;
          //     transform: scale(95%);
          //     transition: 0.3s ease;
          //     -webkit-transition: 0.3s ease;
          //   }
          // }
        }
      }

      .game-card {
        align-self: center;
        // grid-area: cover;
        // min-width: 1rem;
      }

      .game-details {
        align-items: flex-start;
        justify-content: flex-end;
        // grid-area: information;

        .game-summary {
          text-align: start;
        }
      }
    }
  }
}

//* Laptops and up
@media (min-width: $desktop) {
  #ge-container {
    display: block;
    width: 100%;

    #game-expanded {
      display: grid;
      grid-template-columns: 20.5rem 6fr 2fr;
      grid-template-rows: 100%;
      align-items: end;
      margin: 0 auto;
      gap: 5rem;
      height: 95%;

      #game {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        #card-interaction {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $comp;
          border: 1px solid $comp-2;
          border-radius: 10px;
          width: 100%;
          padding: 4rem 0 1.5rem 0;
          gap: 1rem;

          hr {
            margin: 0;
            background-color: $comp-2;
          }

          .ci-element {
            width: 18rem;
          }

          .game-card {
            position: absolute;
            max-width: 18rem;
            bottom: calc(100% - 3rem);

            &:hover {
              opacity: 1;
              transform: none;
              transition: none;
              -webkit-transition: none;
              cursor: auto;
            }
          }

          #ge-buttons {
            display: flex;
            gap: 1rem;
            align-items: center;
          }

          #add-to-list {
            margin: 0;
          }
        }
      }

      .game-details {
        align-self: end;
      }

      .expanded-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .game-platforms,
        .game-genres {
          margin: 0.5rem 0;
          font-size: 2rem;
        }

        #platforms,
        #genres {
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.75rem;

          span {
            margin: 0.5rem 0;
            font-size: 0.65em;
            background-color: $comp;
            padding: 0.5rem 0.7rem;
            border-radius: 10px;
            width: fit-content;
          }
        }
      }
    }
  }
}

.game-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65%;
  object-fit: cover;
  z-index: 98;
  filter: brightness(70%);
}

.gradient {
  position: absolute;
  top: 0;
  height: 65%;
  width: 100%;
  background: linear-gradient(180deg, rgba(125, 185, 232, 0) 0, $main);
  z-index: 99;
}

#poop {
  height: 100%;
  width: 100%;
}
